$primary-color: #118415;
$primary-contrast: #E0FFFF;



.page-header {
  background-color: $primary-color;
  height: 150px;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: $primary-contrast;
    font-family: 'Russo One', sans-serif;
    font-size: 4vw;
  }
}

.container {
  margin: auto;
  width: 60%;
  article {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    a {
    color: lighten( $primary-color, 10% );
    font-family: 'Russo One', sans-serif;
    font-size: 2vw;
    }
  }
  .input-group {
    margin: 2% 5% 5% 5%;
  }
  .alert-danger{
    margin: 0% 5% 5% 5%;
    a {
      font-size: 1vw;
    }
  }
  article {
    background-color: white;
    margin-top: 2%;
  }
  header .question {
    margin: 1% 5% 1% 5%;
  }
  header a {
    color: lighten( $primary-color, 10% );
    font-family: 'Russo One', sans-serif;
    font-size: 2vw;
  }
  header a:hover {
      text-decoration: none;
  }
  main {
    border-top: solid lighten( $primary-color, 10% );
    border-bottom: groove lighten( $primary-color, 10% );
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    section {
      background-color: white;
      border-radius: 8px;
      border-style: groove;
      border-width: 5px;
      border-color: lighten( $primary-color, 10% );
      padding: 8px;
      margin-top: 2%;
      margin-bottom: 2%;
      margin-right: 2%
    }
    textarea {
      resize: none;
    }

  .submit {
      display: flex;
    }
  }
  aside {
    color: lighten( $primary-color, 10% );
    border-bottom: groove lighten( $primary-color, 10% );
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    p {
      font-family: 'Russo One', sans-serif;
    }
    div {
      margin-bottom: 1%;
    }
  }
}

