$primary_color: #118415;
$primary-contrast: #118415;
$dropareas-color: lighten($primary_color, 10%);
$maintext-color: lighten($primary_color, 10%);
$font_headers: 'Russo One',
sans-serif;
@mixin shadowing() {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
}

#ranked-options {
  color: $maintext-color;
  .poll-option {
    padding: 1em;
    background-color: lighten( $primary-color, 10% );
    border: 1px solid #ccc;
    @include shadowing();
    &:hover {
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: grab;
    }
    &:active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing;
    }
    .col-xs-2 {
      text-align: right;
    }
    span {
      font-family: $font_headers;
      font-size: 2em;
      color: #E0FFFF;
    }
    h4 {
      font-family: $font_headers;
      font-size: 1.25em;
      color: #E0FFFF;
    }
    p {
      font-family: $font_headers;
      font-size: 1em;
      color: #E0FFFF;
      margin-bottom: 0px;
    }
  }
}

.section-container {
  border: 1px solid $dropareas-color;
  padding: 1.5em 5% 0 5%;
  margin-bottom: 2em;
  h2 {
      color: lighten( $primary-color, 10% );
  }

footer.submit-button {
  justify-content: left;
  padding-right: 0px;
  margin: 2% 0% 1% 0%;
}

  @include shadowing();
  header {
    text-align: center;
    margin: 0 0 2em;
    border-bottom: 1px solid $dropareas-color;
    padding: 1em 0 0em;
    h1,
    h3,
    h5,
    h6,
    p {
      margin: 0;
      color: lighten( $primary-color, 10% );
      font-family: 'Russo One', sans-serif;
    }
    .pick {
      color: black;
    }
  }
  &.options {
    background-color: white;
    padding-bottom: 1.5em;
    color: #fff;
    header {
      border-color: $primary_color;
    }
  }
}
.emphasize {
  font-family: $font_headers;
  font-size: 2em;
}