$primary-color: #118415;
$primary-contrast: #E0FFFF;

.page-header {
  background-color: $primary-color;
  height: 150px;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: $primary-contrast;
    font-family: 'Russo One', sans-serif;
    font-size: 4vw;
  }
}

.container {
  margin: auto;
  width: 60%;
  article {
    border-radius: 8px;
    border-style: groove;
    border-width: 5px;
    border-color: lighten( $primary-color, 10% );
  }
  header a {
    color: lighten( $primary-color, 10% );
    margin: 5%;
    font-family: 'Russo One', sans-serif;
    font-size: 2vw;
  }
  main {
    border-bottom: groove $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    section {
      border-radius: 8px;
      border-style: groove;
      border-width: 5px;
      border-color: lighten( $primary-color, 10% );
      padding: 8px;
      margin-bottom: 2%;
      margin-right: 2%
    }
    textarea {
      resize: none;
    }
  }
  footer {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    button {
      margin-top:2%;
    }
  }
}

.input-group {
  margin: 2% 5% 5% 5%;
}