$primary-color: #118415;
$primary-contrast: #E0FFFF;

body {
    background-image:    url(/3.jpg);
    background-repeat:   repeat;
}

.page-header {
  background-color: $primary-color;
  height: 150px;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: $primary-contrast;
    font-family: 'Russo One', sans-serif;
    font-size: 4vw;
  }
}

.container {
  margin: auto;
  width: 60%;
  article {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    margin-top: 2%;
    header .results {
      margin: 1% 5% 1% 5%;
    }
    header a {
      color: lighten( $primary-color, 10% );
      font-family: 'Russo One', sans-serif;
      font-size: 2vw;
    }
  }
  .table-inverse th, td{
    border-radius: 5px;
  }
  .table-inverse thead tr{
    background-color: lighten( $primary-color, 10% );
    color: $primary-contrast;
  }
  .table-inverse tbody tr:nth-child(even){
    background-color: white;
  }
  .table-inverse tbody tr:nth-child(odd){
    background-color: silver;
  }
  main {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    }
  footer {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%
  }
}