$primary-color: #118415;
$primary-contrast: #E0FFFF;

.page-header {
  background-color: $primary-color;
  height: 150px;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: $primary-contrast;
    font-family: 'Russo One', sans-serif;
    font-size: 4vw;
  }
}

.container {
  margin: auto;
  width: 60%;
  article {
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
  }
  article {
    margin-top: 2%;
  }
  header .question {
    margin: 1% 5% 1% 5%;
  }
  header a {
    color: lighten( $primary-color, 10% );
    font-family: 'Russo One', sans-serif;
    font-size: 2vw;
  }
  main {
    border-top: solid lighten( $primary-color, 10% );
    border-bottom: groove lighten( $primary-color, 10% );
    margin-left: 5%;
    margin-right: 5%;
  }
  footer {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    div {
      margin-top:1%;
    }
  .submit {
      display: flex;
    }
  }
}

.column {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#columns {
  padding: 0%;
  list-style-type: none;
}

.column {
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  cursor: move;
}
.column header {
  color: black;
  background-color: #ccc;
  padding: 5px;
  font-family: 'Russo One', sans-serif;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  border: 2px solid #666666;
}

.column.dragElem {
  opacity: 0.4;
}
.column.over {
  //border: 2px dashed #000;
  border-top: 2px solid blue;
}