<footer>
  <div class="container">
    <p>&copy; Copyright <%= new Date().getFullYear(); %> | <a href="/">D-Day Productions</a></p>
  </div>
  <!-- /.container -->
</footer>

<!-- Latest compiled and minified JavaScript -->
<script src="/vendor/bootstrap.min.js"></script>
