<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>D-Day Maker - Don&rsquo;t be a d</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/base.css" type="text/css" />


  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.1.1.js"></script>

  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <script type="text/javascript" src="/vendor/jquery.ui.touch-punch.min.js"></script>

</head>
